





body{
    background-color: bisque;
}

#nav{
display: flex;
position: relative;
top: 10px;;
background-color: rgb(82, 80, 80);
color: white;

}

#head{
color: blue;
}

.main{
border: 100px 100px;
text-align: center;
}